:root {
    --cor-verde: #34E13C;
    --cor-verde-escuro: #0D181E;
    --cor-verde-claro: #CBF1D0;
    --cor-verde-lodo: #324858;
    --cor-verde-opaco: #18262E;
    --cor-cinza: #CFD8DE;
    --cor-cinza-escuro: #78909E;
    --cor-cinza-claro: #F1F5F5;
    --cor-branca: white;
    --cor-azul-cinza: #324858;
    --cor-verde-branco: #C8FBEA;
    --cor-azul-opaco: #97ADBC;
}